h1 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline wavy plum;
}