body {
    background-color: rgb(15, 167, 167);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

input {
    background-color: rgb(215, 222, 225);
    border-color: black;
    border-width: 5px;
}

button {
    border-color: rgb(33, 32, 42);
    border-width: 0.5rem;
    background-color: rgb(255, 249, 249);
    color: rgb(0, 0, 0);
    width: 6rem;
    height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

